body {
    flex-direction: column;
    text-align: center;
    background-color:lavenderblush;
    color: rgb(190, 194, 137);
  }
  .start_game{
    width:200px;
    height: 40px;
    font-size:20px;
    border-radius: 10px;
    margin-top:50px
  }
  .heading {
    color:midnightblue;
    font-size: 70px;
    font-weight: bolder;
    margin-top: 100px;
    text-decoration: underline;
  }
  .heading_text {
    color:midnightblue;
    font-size: 40px;
    font-weight: bolder;
   margin-top: 110px;
    text-decoration: underline;
    margin-bottom: 50px;
  }
  .start_btn{
    width: 180px;
    padding: 3px;
    border-radius: 10px;
    margin-top: 10px;
  }
.square{
    display: flex;
    width: 120px;
    height: 120px;
    font-size: 70px;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(115, 69, 136);
}
.row {
    display: flex;
    flex-direction: row;
  }
.column {
    display: flex;
    flex-direction: column;
  }
.jc_center {
    justify-content: center;
  }
.square:hover{
  cursor: pointer;
    background-color:rgba(172, 144, 168, 0.356);
}

.clear_button {
    width: 200px;
    height: 45px;
    border-radius: 10px;
    font-size: 18px;
    margin-top:20px;
    margin-left: 500px;
  }
.new_button {
    width: 200px;
    height: 45px;
    border-radius: 10px;
    font-size: 18px;
    margin-top:20px
  }

  button:hover{
    background-color: rgba(90, 72, 87, 0.356);
    cursor:pointer;
  }
  