body {
    flex-direction: column;
    text-align: center;
    background-color:lavenderblush;
    color: rgb(190, 194, 137);
  }
  .heading_text {
    color:midnightblue;
    font-size: 40px;
    font-weight: bolder;
   margin-top: 130px;
    text-decoration: underline;
  }
  .start_btn{
    width: 180px;
    padding: 3px;
    border-radius: 10px;
    margin-top: 10px;
  }
.square{
    display: flex;
    width: 120px;
    height: 120px;
    font-size: 70px;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    flex-direction: row;
  }
.column {
    display: flex;
    flex-direction: column;
  }
.jc_center {
    justify-content: center;
  }
.square:hover{
  cursor: pointer;
    background-color:rgba(172, 144, 168, 0.356);
}
.border_right_bottom{
    border-right: 10px solid  rgb(115, 69, 136);
    border-bottom: 10px solid rgb(115, 69, 136);  
}
.border_right{
    border-right: 10px solid  rgb(115, 69, 136);
}
.border_bottom{
    border-bottom: 10px solid  rgb(115, 69, 136);
}
.fc_aqua {
    color: #1CDBF5;
}
  
.fc_white {
color: white;
} 
.fw_600 {
font-weight: bolder;
}
.clear_button {
    width: 200px;
    height: 45px;
    border-radius: 10px;
    font-size: 18px;
  margin: 50px auto 10px auto;
  }
  .clear_button:hover{
    background-color: rgba(90, 72, 87, 0.356);
    cursor:pointer;
  }
  